@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300&display=swap');

*{
    margin: 0;
    padding: 0;
}
.sidebar{
    position: absolute;
 background-color: rgb(216, 209, 209);
    /* width: 434px; */
    font-family: 'Fira Sans', sans-serif;
    height: 100vh;
    transition: transform 0.3s ease-in;
}
.sidebar nav{
padding: 45px;
}

.sidebar nav li{
    list-style: none;
    font-size: 25px;
    padding: 33px 0;
}


.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.main{
    width: 90vw;
    
}
.container{
    display: flex;
}
.infoContainer{
    height: 58vh;
    width: 80vw;
    margin:147px auto;
    display: flex;
    justify-content: space-around;
    
}
.devInfo{
    
    margin-left: 25px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
    font-size: 16px;
}
.hello{
font-size: 3em;

}
.name{
font-size: 3em;
font-weight: bold;
font-family: 'Fira Sans', sans-serif;
}
.about{
font-size: 2.5em;
}
.moreabout{
    font-size: 2em;
    margin-top: 23px;
    font-family: 'Fira Sans', sans-serif;

}
.buttons{
    margin: 2.2em;
    font-size: 16px;
}
.btn{
padding: 9px 14px;
border-radius: 22px;
color: honeydew;
background-color:slategrey;
font-weight: bold;
font-size: 2em;
margin: 3px 3px;
cursor: pointer;
}
.btn-sm{
    font-size:10px;
    padding: 7px 13px;
    margin: 10px 0;
}
.btn:hover{
background-color: white;
color:slategrey ;
}
.devPic img{
    height: 58vh;
}

.contactform{
    padding-top: 50px;
    padding-left: 34px;
    font-family: 'Fira Sans', sans-serif;
    margin: 30px 88px;
}
.contactform form{
    
    margin: 0px 88px;
}
.contactform h1{
    /* font-family: 'Source Code Pro', monospace; */
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
     margin: 0 20px;
}
.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}
.contactform form div input{
    
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
}

#emailHelp{
    font-size: 11px;
    color:midnightblue;
    padding: 3px 0 0 0;
    margin: 0 5px;
}
#form-check{
    
    flex-direction: row;
}
#form-check input{
     width: 24px;
     margin: 3px 0;
}
.blogItem{
    margin: 20px;
    font-family: 'Fira Sans', sans-serif;
}
.blogContainer{
    margin: 40px 88px;
}

h1{
    font-family: 'Fira Sans', sans-serif;
     margin: 23px;
}
 p{
    font-family: 'Source Code Pro', monospace;

}
.introContainer{
    height: 58vh;
    width: 80vw;
    margin:50px 88px;
    display: flex;
    justify-content: space-around;
    

}
.intro h2{
    font-family: 'Fira Sans', sans-serif;
    margin: 20px;

}
.intro P{
    font-family: 'Source Code Pro', monospace;
    margin: 20px 12px 5px 12px;
}
.skillContainer{
    padding: 10px;
}

.skillItem{
    display: flex;
    align-items: center;
    font-family: 'Source Code Pro', monospace;
    font-weight: 900;
    margin-top: 10px;
}
.sidebarGo{
    transform: translate(-443px,0px);
    position: absolute;
}
.hamBurger{
position: absolute;
cursor: pointer;
top: 10px;
left: 10px;
}

.cross{
    margin-left: 135px;
}
@media (max-width: 1000px) {

.buttons{
    font-size: 6px;
}
.devPic{
    display: none;
}
.devInfo{
    font-size: 10px;
}

     
     .introContainer, .blogContainer, .contactform{  
        margin: 50px 10px;
     }      
}